.container{
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 1fr 1fr 1fr;
}
.item-a{
	grid-column: 1;
	grid-row: 1;
}
.item-b{
	grid-column: 2;
	grid-row: 1;
}
.item-c{
	grid-column: 1;
	grid-row: 2;
}
.item-d{
	grid-column: 2;
	grid-row: 2;
}
.item-e{
	grid-column: 2;
	grid-row: 3;
}
.info{
	border: 1px solid black;
	border-color: black;
	border-width: medium;
	border-radius: 20px;
	text-align: center;
	color: black;
	padding: 40px;
}
p.text{
	background-color: white;
	border-width: 10px;
	text-align: center;
}
body{
	background-color: rgb(204, 204, 204);
	color: black;
}
h1{
	font-family: arial;
	font-size: 22px;
	text-align: center;
	padding: 40px;
}
h2{
	background-color: white;
	text-align: center;
}
.right{
	background-color: white;
	border-width: 10px;
	text-align: right;
}
a{
	
	text-decoration: none;
}