.info{
	border: 1px solid black;
	border-color: black;
	border-width: medium;
	border-radius: 20px;
	text-align: center;
	color: black;
}
p.text{
	background-color: white;
	border-width: 10px;
	text-align: center;
}
body{
	background-color: rgb(204, 204, 204);
	color: black;
}
h1{
	font-family: arial;
	font-size: 22px;
}
h2{
	background-color: white;
	text-align: center;
}
.right{
	background-color: white;
	border-width: 10px;
	text-align: right;
}
a{
	
	text-decoration: none;
}